<section class="contact__container">
    <div class="contact">
      <div class="persons">
        <div class="box">
          <span>Smt. Chung Chung Bhutia</span>
          <span>Chairperson</span> <span>Sikkim Khadi &amp; Village Industries Board </span>
          <span>Contact : 6296542761</span>
        </div>
      </div>

      <div class="persons">
        <div class="box">
          <span>Shri Gyurmie Yousal</span>
          <span>Pr. Chief Executive Officer</span>
          <span>Contact: 9434080499</span>
        </div>
      </div>
      <div class="persons"><div class="box">
          <span>Smt. Meena Thapa</span>
          <span>Deputy Executive Officer</span>
          <span>Contact: 9800366557</span>
        </div>
      </div>
      <div class="persons"><div class="box">
          <span>Smt. Babita Baraily</span>
          <span>Assistant Executive Officer</span>
          <span>Contact: 9434339096</span>
        </div>
      </div>
      <div class="persons"><div class="box">
          <span>Smt. Dhaka Devi Sharma</span>
          <span>Accounts Officer</span>
          <span>Contact: 9647851861</span>
        </div>
      </div>
      <div class="persons"><div class="box">
          <span>Shri Karma Samten Bhutia</span>
          <span>PMEGP Related Queries</span>
          <span>Contact: 9609585504</span>
        </div>
      </div>
      <div class="persons"><div class="box">
          <span>Shri Gyalpo Tshering Bhutia</span>
          <span>Bee-Keeping Related Queries</span>
          <span>Contact: 7407387919</span>
        </div>
      </div>
      <div class="persons"><div class="box">
          <span>Smt. Babita Baraily</span>
          <span>Products Related Queries</span>
          <span>Assistant Executive Officer</span>
          <span>Contact: 9434339096</span>
        </div>
      </div>
    </div>
  </section>
