<div class="outlets_l">
    <section class="outlet_address">
        <p>Address: </p>
        <p>Shop no 54</p>
        <p>Supermarket market,</p>
        <p>Denzong Cinema road</p>
    </section>
    <div class="supermarket">
        <div class="location" id="j1">
            <img src="../../../../assets/outlets/supermarket/images/img1.jpg" alt="">
        </div>

        <div class="location" id="s2">
            <img src="../../../../assets/outlets/supermarket/images/img2.jpg" alt="">
        </div>

        <div class="location" id="s3">
            <img src="../../../../assets/outlets/supermarket/images/img3.jpg" alt="">
        </div>
        <div class="location" id="s4">
            <img src="../../../../assets/outlets/supermarket/images/img4.jpg" alt="">
        </div>
        <div class="location" id="s5">
            <img src="../../../../assets/outlets/supermarket/images/img5.jpg" alt="">
        </div>
        <div class="location" id="s6">
            <img src="../../../../assets/outlets/supermarket/images/img6.jpg" alt="">
        </div>
        <div class="location" id="s7">
            <img src="../../../../assets/outlets/supermarket/images/img7.jpg" alt="">
        </div>
        <div class="location" id="s8">
            <img src="../../../../assets/outlets/supermarket/images/img8.jpg" alt="">
        </div>
        <div class="location" id="s9">
            <img src="../../../../assets/outlets/supermarket/images/img9.jpg" alt="">
        </div>
    </div>
</div>