<div class="center_heading">
    Mendogaon Center
</div>
<div class="tplace">
    <div class="tarku">
        <div class="centre" id="t1">
            <img src="../../../../assets/production/mendogaon/image.jpg" alt="image1">
        </div>
        <div class="centre" id="t2">
            <img src="../../../../assets/production/mendogaon/image1.jpg" alt="">
        </div>
        <div class="centre" id="t3">
            <img src="../../../../assets/production/mendogaon/image2.jpg" alt="">
        </div>
        <div class="centre" id="t4">
            <img src="../../../../assets/production/mendogaon/image3.jpg" alt="">
        </div>
        <div class="centre" id="t5">
            <img src="../../../../assets/production/mendogaon/image5.jpg" alt="">
        </div>
        <div class="centre" id="t6">
            <img src="../../../../assets/production/mendogaon/image6.jpg" alt="">
        </div>
        <div class="centre" id="t7">
            <img src="../../../../assets/production/mendogaon/image7.jpg" alt="">
        </div>
        <div class="centre" id="t8">
            <img src="../../../../assets/production/mendogaon/image8.jpg" alt="">
        </div>
        <div class="centre" id="t9">
            <img src="../../../../assets/production/mendogaon/image9.jpg" alt="">
        </div>
        <div class="centre" id="t10">
            <img src="../../../../assets/production/mendogaon/image10.jpg" alt="">
        </div>
    </div>
</div>