<main class="pageContainer">
    <!-- Floating Back Button -->
    <div class="floating-back-button" [class.visible]="showFloatingButton" (click)="navigateBack()">
        <span class="material-symbols-outlined">arrow_back</span>
        <span class="button-text">Events</span>
    </div>

    <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
            <li>
                <a routerLink="/events/latest">latest events &nbsp;</a>
                @if (!isLatestRoute()) {
                    <span>/&nbsp; {{ eventDate() }}</span>
                }
            </li>
        </ol>
    </nav>

    <article class="acontents">
        @if (isLatestRoute()) {
        @if (events$ | async; as events) {
        @for (event of events; track event.id) {
        <app-event-card [event]="event" (click)="router.navigate(['/events/latest', event.id])" />
        }
        }
        }

        <router-outlet />
    </article>
</main>