<main class="pageContainer">
    <nav class="breadcrumb" aria-label="breadcrumb">
        <ol>
            <li>
                <a routerLink="/latest">latest events</a>
                @if (!isLatestRoute()) {
                    <span>&nbsp;/&nbsp;{{ eventDate() }}</span>
                }
            </li>
        </ol>
    </nav>

    <article class="acontents">
        @if (isLatestRoute()) {
        @for (event of events(); track event.id) {
        <app-event-card [event]="event" (click)="router.navigate(['/latest', event.id])" />
        }
        }

        <router-outlet />
    </article>
</main>