<article class="event-details">
  <header>
    <h1>SLBC Steering Committee Meeting & 80th State Level Banker’s Committee Meeting </h1>
    <time datetime="2024-09-12">12th September, 2024</time>
    
    <section class="meeting-info">
      <p>
        SLBC Steering Committee Meeting & 80<sup>th</sup> State Level Banker's Committee Meeting for QTR ended 30<sup>th</sup> June 2024 was held on 12.09.2024, in Hotel Ramada, Gangtok. The programme was graced by:
      </p>
    </section>
  </header>

  <section class="dignitaries">
    <h2>Distinguished Guests</h2>
    <ol>
      <li>Secretary cum Finance Controller GOS: Shri MCP Pradhan,</li>
      <li>DGM NABARD: Shri Ajay Kr. Sinha,</li>
      <li>Regional Director RBI Gangtok: Shri T. Jamang,</li>
      <li>SLBC Convener: Shri N.K Singh.</li>
    </ol>
  </section>

  <section class="other-attendees">
    <h2>Other Attendees</h2>
    <p>
      Mrs. Meena Thapa, Deputy Executive Officer and Mr. Karma Samten Bhutia, Office Assistant from Sikkim Khadi & V.I Board attended the meeting.
    </p>
  </section>
  <section class="programme_images">
    <img src="../../../../assets/events/slbc_12_09/img1.jpg" alt="SLBC Meeting">
    <img src="../../../../assets/events/slbc_12_09/img2.jpg" alt="SLBC Meeting">
    <img src="../../../../assets/events/slbc_12_09/img3.jpg" alt="SLBC Meeting">
    <img src="../../../../assets/events/slbc_12_09/img4.jpg" alt="SLBC Meeting">
  </section>
</article>
