<article class="farewell-programme">
    <h1>Bishwakarma Puja</h1>
    <time datetime="2024-09-17">17th September, 2024</time>
  
    <p class="intro-text">
        Bishwakarma Puja was celebrated on 17th September at Khadi Bhawan, Deorali, Gangtok.
    </p>
    <section class="biswakarma__images">
        <img src="../../../../assets/events/bishwakarma_17_09/img1.jpg" alt="Bishwakarma Puja">
        <img src="../../../../assets/events/bishwakarma_17_09/img2.jpg" alt="Bishwakarma Puja">
    </section>
</article>