/* General Styles */
.sliding-navbar {
    padding: 1rem;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #f2c377;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
}

.sliding-navbar img {
    width: 4rem;
}

/* Hamburger Menu Styles */
.bar1,
.bar2,
.bar3 {
    background-color: rgb(112, 73, 11);
    height: 1.5px;
    border-radius: 25px;
    margin: 6px;
}

.bar1,
.bar3 {
    width: 30px;
}

.bar2 {
    width: 15px;
    transform: translateX(100%);
}

.mobile__nav-hamburger .bar1,
.mobile__nav-hamburger .bar2,
.mobile__nav-hamburger .bar3 {
    display: block;
}

.mobile__nav-hamburger {
    display: block;
    transform: translateY(15px);
}

/* Header Styles */
.mobile__nav-header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    background-color: #f2c377;
    height: 0.1rem;
}

.mobile__nav-header-logo {
    background-color: #f2c377;
    height: 15rem;

    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
    gap: 2rem;
}

.mobile__nav-header-title {
    color: rgb(112, 73, 11);
    background-color: #f2c377;
    text-transform: uppercase;

    /* font-size: 2rem; */
    /* font-weight: 900; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 1rem 0;
}

.mobile__nav-header-title span {
    font-family: var(--font-heading);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    line-height: var(--lh-heading);
}

/* Icon Styles */
.icon-khadiindia,
.icon-sikkim,
.sikkim-khadi-icon {
    display: block;
    margin: auto;
}

.icon-sikkim > img {
    width: 88px;
}

.sikkim-khadi-icon > img {
    width: 72px;
}

.icon-khadiindia > img {
    width: 112px;
}

/* Mobile Navigation Menu Styles */
.mobile__nav-menu {
    background-color: #f2c377;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    z-index: 999;
    top: 0;
    right: -100%;
    padding: 16px;

    text-transform: uppercase;
    transition: right 0.3s ease-in-out;
}

.mobile__nav-menu a {
    text-decoration: none;
    color: rgb(112, 73, 11);
    margin: 5px 0;
    font-family: var(--font-body);
    font-weight: var(--fw-medium);
    line-height: var(--lh-subheading);
    font-size: var(--fs-h3);
    /* font-size: 23px; */
}

.mobile__nav-menu.active {
    right: 0;
}

/* Close Button Styles */
.close-button {
    width: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.close-button img {
    width: 25px;
}
