<div class="center_heading">
    Turuk Weaving Center
  </div>
  <div class="tplace" >
    <div class="turuk">
      <div class="centre" id="t1">
        <img src="../../../../assets/production/turuk/turuk1.jpg" alt="">
      </div>
      <div class="centre" id="t2">
        <img src="../../../../assets/production/turuk/turuk2.jpg" alt="">
      </div>
      <div class="centre" id="t3">
        <img src="../../../../assets/production/turuk/turuk3.jpg" alt="">
      </div>
      <div class="centre" id="t4">
        <img src="../../../../assets/production/turuk/turuk4.jpg" alt="">
      </div>
    </div>
  </div>