<div class="gallery">
    <div class="shawl">
        <div class="product" id="s1">
            <img src="../../../../assets/products/shawl/images/img1.jpg" alt="">
            <h1 class="productHeading">Shawl</h1>
        </div>

        <div class="product" id="s2">
            <img src="../../../../assets/products/shawl/images/img2.jpg" alt="">
        </div>

        <div class="product" id="s3">
            <img src="../../../../assets/products/shawl/images/img3.jpg" alt="">
        </div>
</div>
</div>