:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}

h2 {
  font-size: 2.8rem;
  color: #E85F5C;
  line-height: 1.5;
  margin: 0;
  padding: 1rem;
 }

 svg {
  height: 80%;
 }

@media (max-width: 768px) {
  :host {
    padding: 2rem;
  }

  h2 {
    font-size: 1.8rem;
  }
}
