<div class="gallery">
    <div class="duree">
        <div class="product" id="dr1">
            <img src="../../../../assets/products/duree/images/img1.jpg" alt="">
            <h1 class="productHeading">Duree</h1>
        </div>

        <div class="product" id="dr2">
            <img src="../../../../assets/products/duree/images/img2.jpg" alt="">
        </div>

        <div class="product" id="dr3">
            <img src="../../../../assets/products/duree/images/img3.jpg" alt="">
        </div>

        <div class="product" id="dr4">
            <img src="../../../../assets/products/duree/images/img5.jpg" alt="">
        </div>

        <div class="product" id="dr5">
            <img src="../../../../assets/products/duree/images/img4.jpg" alt="">
        </div>

    </div>
</div>