<div class="portraits-container">
  <div class="portrait-item">
    <div class="portrait-image">
      <img src="../../../assets/portraits/cm.png" alt="Chief Minister">
    </div>
    <h3 class="portrait-name">Shri P.S. Tamang (Golay)</h3>
    <p class="portrait-title">Honourable Chief Minister of Sikkim</p>
  </div>

  <div class="portrait-item">
    <div class="portrait-image">
      <img src="../../../assets/portraits/chairperson.jpg" alt="Chairperson SKVIB">
    </div>
    <h3 class="portrait-name">Shri Deepak Kumar Gurung</h3>
    <p class="portrait-title">Hon'ble Chairperson Sikkim Khadi & V.I. Board</p>
  </div>

  <div class="portrait-item">
    <div class="portrait-image">
      <img src="../../../assets/portraits/advisor.jpg" alt="Advisor SKVIB">
    </div>
    <h3 class="portrait-name">Shri Dal Bahadur Thatal</h3>
    <p class="portrait-title">Hon'ble Advisor Sikkim Khadi & V.I. Board</p>
  </div>
</div>
