<div class="gallery">
    <div class="temitea">
        <div class="product" id="tm1">
            <img src="../../../../assets/products/temitea/images/img1.jpg" alt="">
            <h1 class="productHeading">Temi Tea</h1>
        </div>

        <div class="product" id="tm2">
            <img src="../../../../assets/products/temitea/images/img2.jpg" alt="">
        </div>

        <div class="product" id="tm3">
            <img src="../../../../assets/products/temitea/images/img3.jpg" alt="">
        </div>

        <div class="product" id="tm4">
            <img src="../../../../assets/products/temitea/images/img4.jpg" alt="">
        </div>
    </div>
</div>