<div class="outlets_l">
    <section class="outlet_address">
        <p>Address: </p>
        <p>Khadi Emporium</p>
        <p>Opposite UDD Office,</p>
        <p>Shop no 19,</p>
        <p>Jorethang Bazar</p>
    </section>
    <div class="jorethang">
        <div class="location" id="j1">
            <img src="../../../../assets/outlets/jorethang/images/img1.jpg" alt="">
        </div>

        <div class="location" id="j2">
            <img src="../../../../assets/outlets/jorethang/images/img2.jpg" alt="">
        </div>

        <div class="location" id="j3">
            <img src="../../../../assets/outlets/jorethang/images/img3.jpg" alt="">
        </div>
        <div class="location" id="j4">
            <img src="../../../../assets/outlets/jorethang/images/img4.jpg" alt="">
        </div>
        <div class="location" id="j5">
            <img src="../../../../assets/outlets/jorethang/images/img5.jpg" alt="">
        </div>
        <div class="location" id="j6">
            <img src="../../../../assets/outlets/jorethang/images/img6.jpg" alt="">
        </div>
        <div class="location" id="j7">
            <img src="../../../../assets/outlets/jorethang/images/img7.jpg" alt="">
        </div>
        <div class="location" id="j8">
            <img src="../../../../assets/outlets/jorethang/images/img8.jpg" alt="">
        </div>
        <div class="location" id="j9">
            <img src="../../../../assets/outlets/jorethang/images/img9.jpg" alt="">
        </div>
        <div class="location" id="j10">
            <img src="../../../../assets/outlets/jorethang/images/img10.jpg" alt="">
        </div>
        <div class="location" id="j11">
            <img src="../../../../assets/outlets/jorethang/images/img11.jpg" alt="">
        </div>
        <div class="location" id="j12">
            <img src="../../../../assets/outlets/jorethang/images/img12.jpg" alt="">
        </div>
        <div class="location" id="j13">
            <img src="../../../../assets/outlets/jorethang/images/img13.jpg" alt="">
        </div>
        <div class="location" id="j14">
            <img src="../../../../assets/outlets/jorethang/images/img14.jpg" alt="">
        </div>
        <div class="location" id="j15">
            <img src="../../../../assets/outlets/jorethang/images/img15.jpg" alt="">
        </div>
        <div class="location" id="j16">
            <img src="../../../../assets/outlets/jorethang/images/img16.jpg" alt="">
        </div>
    </div>
</div>