<article class="farewell-programme">
  <h1>Farewell Programme</h1>
  <time datetime="2024-08-14">14th August, 2024</time>

  <p class="intro-text">
    The farewell programme of six retired staff of the Board was organised at Khadi Bhawan Deorali on 14.08.2024. All six retirees were felicitated by memento and gifts. The six retirees staff are:
  </p>

  <table class="retirees-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Smt Dhaka Devi Sharma</td>
        <td>Ex Accounts officer</td>
      </tr>
      <tr>
        <td>Ms Damber Kr Rai</td>
        <td>Ex Jr. Instructor</td>
      </tr>
      <tr>
        <td>Shri Tanka Psd Sharma</td>
        <td>Ex Jr. Fieldman</td>
      </tr>
      <tr>
        <td>Ms Deeki Lepcha</td>
        <td>Ex Jr. Instructor</td>
      </tr>
      <tr>
        <td>Smt Ratna Maya Lepcha</td>
        <td>Ex Jr. Instructor</td>
      </tr>
      <tr>
        <td>Smt Passang Lhamu Bhutia</td>
        <td>Ex office Attendant</td>
      </tr>
    </tbody>
  </table>
  <div class="farewell-images">
    <img 
        [src]="'assets/events/farewell_14_08/img1.jpg'"
        [srcset]="'assets/events/farewell_14_08/img1-small.jpg 768w, ' +
                  'assets/events/farewell_14_08/img1.jpg 1200w'"
        alt="Farewell Programme">
    <img 
        [src]="'assets/events/farewell_14_08/img2.jpg'"
        [srcset]="'assets/events/farewell_14_08/img2-small.jpg 768w, ' +
                  'assets/events/farewell_14_08/img2.jpg 1200w'"
        alt="Farewell Programme">
    <img 
        [src]="'assets/events/farewell_14_08/img3.jpg'"
        [srcset]="'assets/events/farewell_14_08/img3-small.jpg 768w, ' +
                  'assets/events/farewell_14_08/img3.jpg 1200w'"
        alt="Farewell Programme">
  </div>    
</article>
