<div class="gallery">
    <div class="turmeric">
        <div class="product" id="tr1">
            <img src="../../../../assets/products/turmeric/images/img1.jpg" alt="">
            <h1 class="productHeading">Turmeric</h1>
        </div>
        <div class="product" id="tr2">
            <img src="../../../../assets/products/turmeric/images/img2.jpg" alt="">
        </div>
        <div class="product" id="tr3">
            <img src="../../../../assets/products/turmeric/images/img3.jpg" alt="">
        </div>
        <div class="product" id="tr4">
            <img src="../../../../assets/products/turmeric/images/img4.jpg" alt="">
        </div>
        <div class="product" id="tr5">
            <img src="../../../../assets/products/turmeric/images/img5.jpg" alt="">
        </div>
        <div class="product" id="tr7">
            <img src="../../../../assets/products/turmeric/images/img7.jpg" alt="">
        </div>
    </div>
</div>