<div class="gallery">
    <div class="quilt">
        <div class="product" id="q1">
            <img src="../../../../assets/products/quilt/images/img1.jpg" alt="">
            <h1 class="productHeading">Quilt</h1>
        </div>

        <div class="product" id="q2">
            <img src="../../../../assets/products/quilt/images/img2.jpg" alt="">
        </div>

        <div class="product" id="q3">
            <img src="../../../../assets/products/quilt/images/img3.jpg" alt="">
        </div>
    </div>
</div>