<main>
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/saree.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Handwoven Sarees
        </h2>
        <a [routerLink]="['saree']" class="button">Find out more<span class="material-symbols-outlined">arrow_right_alt</span></a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/turmeric.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Local Organic Spices
        </h2>
        <a [routerLink]="['turmeric']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/temitea.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Temi Tea
        </h2>
        <a [routerLink]="['temitea']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/toileteries.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Khadi Toileteries
        </h2>
        <a [routerLink]="['toileteries']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/honey.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Local Organic Honey
        </h2>
        <a [routerLink]="['honey']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/incense.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Organic Incense
        </h2>
        <a [routerLink]="['incense']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/pillow.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Simul Pillows
        </h2>
        <a [routerLink]="['pillow']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/quilt.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Khadi Quilts
        </h2>
        <a [routerLink]="['quilt']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/shawl.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Khadi Shawls
        </h2>
        <a [routerLink]="['shawl']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/duree.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2 style="text-align: center;">
          Handwoven Duree <br>and<br> Asanis
        </h2>
        <a [routerLink]="['duree']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
    <!-- card starts -->
    <div class = "card">
      <img src="../../../assets/products/images/beebox.jpg" alt="">
      <div class="overlay"></div>
      <div class="card-content">
        <h2>
          Bee Keeping<br>Equipment
        </h2>
        <a [routerLink]="['beebox']" class="button">
          Find out more 
          <span class="material-symbols-outlined">
            arrow_right_alt
          </span>
        </a>
      </div>
    </div>
    <!-- card ends -->
  </main>