<div class="pageContainer">
    <div class="acontents">
      <div class="pmegp__header">
      </div>
      <div class="pmegp__header_text">
        <p>Sikkim Khadi &#38; Village Industries Board</p>
        <p>Khadi Bhavan,</p>
        <p>Deorali - 737102, Gangtok, Sikkim</p>
        <p>Phone: 03592-281810, 281221, Fax: 03592-281221, E-mail: sikkimkhadi&#64;gmail.com</p>
      </div>
      <section class="RTI_section_para">
        <p>Regarding all matters under RTI Act 2005 section 4(1) pertaining to Sikkim Khadi &#38; Village Industries Board (SKVIB) the following officers have been designated as follows:-</p>
        <div class="dignitaries">
          <p> 01. Shri Gyurmie Yousal </p>
          <p> Pr. Chief Executive Officer </p>
          <p> Sikkim Khadi &#38; V. I. Board </p>
          <p>1ST Appellate Authority</p>
          <p>Mobile No. 9434080499</p>
        </div>
        <div class="dignitaries">
          <p> 02. Smt. Meena Thapa</p>
          <p>Dy. Executive Officer</p>
          <p>Sikkim Khadi and V. I. Board</p>
          <p>State Public Information Officer</p>
          <p>Mobile No. 9800366557</p>
        </div>
        <div class="dignitaries">
          <p> 03. Smt. Babita Baraily</p>
          <p>Asstt. Executive Officer</p>
          <p>Sikkim Khadi and V. I. Board</p>
          <p>Asstt. State Public Information Officer</p>
          <p>Mobile No. 9434339096</p>
        </div>
      </section>

    </div>
   
