<div class="outlets_l">
    <section class="outlet_address">
        <p>Address: </p>
        <p>Khadi Emporium,</p>
        <p>near Nagar Panchayat Office</p>
    </section>
    <div class="gyalshing">
        <div class="location" id="gl1">
            <img src="../../../../assets/outlets/gyalshing/images/img1.jpg" alt="">
        </div>

        <div class="location" id="gl2">
            <img src="../../../../assets/outlets/gyalshing/images/img2.jpg" alt="">
        </div>

        <div class="location" id="gl3">
            <img src="../../../../assets/outlets/gyalshing/images/img3.jpg" alt="">
        </div>
    </div>
</div>