<div class="gallery" >
    <div class="beebox__beebox">
      <h1>Bee-Box</h1>
      <div class="layer1">
        <img src="../../../../assets/products/beebox/images/13.jpg" alt="" id="b1">
        <img src="../../../../assets/products/beebox/images/3.jpg" alt="" id="b2">
        <img src="../../../../assets/products/beebox/images/5.jpg" alt="" id="b3">
        <img src="../../../../assets/products/beebox/images/10.jpg" alt="" id="b4">
        <img src="../../../../assets/products/beebox/images/7.jpg" alt="" id="b5">
      </div>
      
    </div>
    <div class="beebox">
      <h1>Wax and Knife</h1>
      <div class="layer2" id="p">
        <img src="../../../../assets/products/beebox/images/1.jpg" alt="" id="d1">
        <img src="../../../../assets/products/beebox/images/7.jpg" alt="" id="d2">
        <img src="../../../../assets/products/beebox/images/9.jpg" alt="" id="d3">
        <img src="../../../../assets/products/beebox/images/6.jpg" alt="" id="d4">
        <img src="../../../../assets/products/beebox/images/6.jpg" alt="" id="d5">
      </div>
    </div>
      
    <div class="beebox">
      <h1>Grafting Tools</h1>
      <div class="layer1">
        <img src="../../../../assets/products/beebox/images/14.jpg" alt="" id="b1">
        <img src="../../../../assets/products/beebox/images/11.jpg" alt="" id="b2">
        <img src="../../../../assets/products/beebox/images/12.jpg" alt="" id="b3">
        <img src="../../../../assets/products/beebox/images/16.jpg" alt="" id="b4">
        <img src="../../../../assets/products/beebox/images/12.jpg" alt="" id="b5">
      </div>
    </div>
    
    <div class="beebox">
      <h1>Queen gate</h1>
      <div class="layer2" id="p">
        <img src="../../../../assets/products/beebox/images/4.jpg" alt="" id="d1">
        <img src="../../../../assets/products/beebox/images/3.jpg" alt="" id="d2">
        <img src="../../../../assets/products/beebox/images/3.jpg" alt="" id="d3">
        <img src="../../../../assets/products/beebox/images/5.jpg" alt="" id="d4">
        <img src="../../../../assets/products/beebox/images/15.jpg" alt="" id="d5">
      </div>
    </div>
    
    <div class="beebox__beebox">
      <h1>Super chamber</h1>
      <div class="layer1">
        <img src="../../../../assets/products/beebox/images/4.jpg" alt="" id="b1">
        <img src="../../../../assets/products/beebox/images/17.jpg" alt="" id="b2">
        <img src="../../../../assets/products/beebox/images/18.jpg" alt="" id="b3">
        <img src="../../../../assets/products/beebox/images/19.jpg" alt="" id="b4">
        <img src="../../../../assets/products/beebox/images/21.jpg" alt="" id="b5">
      </div>
    </div> 
    
    <div class="beebox">
      <h1>Brood chamber</h1>
      <div class="layer2" id="p">
        <img src="../../../../assets/products/beebox/images/4.jpg" alt="" id="d1">
        <img src="../../../../assets/products/beebox/images/20.jpg" alt="" id="d2">
        <img src="../../../../assets/products/beebox/images/15.jpg" alt="" id="d3">
        <img src="../../../../assets/products/beebox/images/20.jpg" alt="" id="d4">
        <img src="../../../../assets/products/beebox/images/5.jpg" alt="" id="d5">
      </div>
    </div>
  </div>