<div class="center_heading">
    Bee Keeping Training in Pune
  </div>
  <div class="tplace" >
    <div class="pune">
      <div class="centre" id="p1">
        <img src="../../../../assets/production/pune/img1.jpg" alt="">
      </div>
      <div class="centre" id="p3">
        <img src="../../../../assets/production/pune/img3.jpg" alt="">
      </div>
      <div class="centre" id="p5">
        <img src="../../../../assets/production/pune/img5.jpg" alt="">
      </div>
      <div class="centre" id="p6">
        <img src="../../../../assets/production/pune/img6.jpg" alt="">
      </div>
      <div class="centre" id="p7">
        <img src="../../../../assets/production/pune/img7.jpg" alt="">
      </div>
      <div class="centre" id="p8">
        <img src="../../../../assets/production/pune/img8.jpg" alt="">
      </div>
      <div class="centre" id="p12">
        <img src="../../../../assets/production/pune/img12.jpg" alt="">
      </div>
      <div class="centre" id="p13">
        <img src="../../../../assets/production/pune/img13.jpg" alt="">
      </div>
      <div class="centre" id="p14">
        <img src="../../../../assets/production/pune/img14.jpg" alt="">
      </div>
    </div>
  </div>
