<div class="gallery">
    <div class="toi">
        <div class="product" id="t1">
            <img src="../../../../assets/products/toileteries/images/img1.jpg" alt="">
            <h1 class="productHeading">Toileteries</h1>
        </div>
        <div class="product" id="t2">
            <img src="../../../../assets/products/toileteries/images/img2.jpg" alt="">
        </div>
        <div class="product" id="t3">
            <img src="../../../../assets/products/toileteries/images/img3.jpg" alt="">
        </div>
    </div>
</div>