<div class="center_heading">
    Tarku Weaving Center
  </div>
  <div class="tplace" >
    <div class="tarku">
      <div class="centre" id="t1">
        <img src="../../../../assets/production/tarku/img1.jpg" alt="">
      </div>
      <div class="centre" id="t2">
        <img src="../../../../assets/production/tarku/img2.jpg" alt="">
      </div>
      <div class="centre" id="t3">
        <img src="../../../../assets/production/tarku/img3.jpg" alt="">
      </div>
      <div class="centre" id="t4">
        <img src="../../../../assets/production/tarku/img4.jpg" alt="">
      </div>
    </div>
  </div>
