<div class="outlook_intro">
    <div class="outlook_intro_container">
        <p>
            Sikkim Khadi and Village Industries Board has 6 outlets all over the state, through which Khadi
            and village industries products are sold.While some of the products are manufactured in-house,
            other Khadi products are also sourced from other states.
            Products manufactured by local entrepreneurs are also promoted and sold in these outlets.
        </p>
    </div>
</div>
<div class="outlets">
    <div class="outlets__item">
        <img src="../../../assets/outlets/images/namchi.jpg" alt="">
        <p class="outlets__text">Namchi Outlet</p>
        <a [routerLink]="['/outlets', 'namchi']">Click to see more <span class="material-symbols-outlined">arrow_right_alt</span></a>
    </div>
    <div class="outlets__item">
        <img src="../../../assets/outlets/images/gyalshing.jpg" alt="">
        <p class="outlets__text">Gyalshing Outlet</p>
        <a [routerLink]="['/outlets', 'gyalshing']">Click to see more <span class="material-symbols-outlined">arrow_right_alt</span></a>
    </div>
    <div class="outlets__item">
        <img src="../../../assets/outlets/images/singtam.jpg" alt="">
        <p class="outlets__text">Singtam Outlet</p>
        <a [routerLink]="['/outlets', 'singtam']">Click to see more <span class="material-symbols-outlined">arrow_right_alt</span></a>
    </div>
    <div class="outlets__item">
        <img src="../../../assets/outlets/images/deorali.jpg" alt="">
        <p class="outlets__text">Deorali Outlet</p>
        <a [routerLink]="['/outlets', 'deorali']">Click to see more <span class="material-symbols-outlined">arrow_right_alt</span></a>
    </div>
    <div class="outlets__item">
        <img src="../../../assets/outlets/images/jorethang.jpg" alt="">
        <p class="outlets__text">Jorethang Outlet</p>
        <a [routerLink]="['/outlets', 'jorethang']">Click to see more <span class="material-symbols-outlined">arrow_right_alt</span></a>
    </div>
    <div class="outlets__item">
        <img src="../../../assets/outlets/images/supermarket.jpg" alt="">
        <p class="outlets__text">Supermarket Outlet</p>
        <a [routerLink]="['/outlets', 'supermarket']">Click to see more <span class="material-symbols-outlined">arrow_right_alt</span></a>
    </div>
</div>