<div class="center_heading">
    Dodak Weaving Center
</div>
<div class="tplace">
    <div class="dodak">
        <div class="centre" id="d1">
            <img src="../../../../assets/production/dodak/img1.jpg" alt="">
        </div>
        <div class="centre" id="d2">
            <img src="../../../../assets/production/dodak/img2.jpg" alt="">
        </div>
        <div class="centre" id="d3">
            <img src="../../../../assets/production/dodak/img3.jpg" alt="">
        </div>
        <div class="centre" id="d4">
            <img src="../../../../assets/production/dodak/img4.jpg" alt="">
        </div>
        <div class="centre" id="d5">
            <img src="../../../../assets/production/dodak/img5.jpg" alt="">
        </div>
    </div>
</div>