<div class="outlets_l">
    <section class="outlet_address">
        <p>Address: </p>
        <p>Deorali Khadi Bhawan</p>
        <p>Sikkim Khadi and Village Industries Board Building</p>
    </section>
    <div class="deorali">
        <div class="location" id="d1">
            <img src="../../../../assets/outlets/deorali/images/img1.jpg" alt="">
        </div>

        <div class="location" id="d2">
            <img src="../../../../assets/outlets/deorali/images/img2.jpg" alt="">
        </div>

        <div class="location" id="d3">
            <img src="../../../../assets/outlets/deorali/images/img3.jpg" alt="">
        </div>

        <div class="location" id="d4">
            <img src="../../../../assets/outlets/deorali/images/img4.jpg" alt="">
        </div>

        <div class="location" id="d5">
            <img src="../../../../assets/outlets/deorali/images/img5.jpg" alt="">
        </div>

        <div class="location" id="d6">
            <img src="../../../../assets/outlets/deorali/images/img6.jpg" alt="">
        </div>

        <div class="location" id="d7">
            <img src="../../../../assets/outlets/deorali/images/img7.jpg" alt="">
        </div>

        <div class="location" id="d8">
            <img src="../../../../assets/outlets/deorali/images/img8.jpg" alt="">
        </div>

        <div class="location" id="d9">
            <img src="../../../../assets/outlets/deorali/images/img9.jpg" alt="">
        </div>

        <div class="location" id="d10">
            <img src="../../../../assets/outlets/deorali/images/img10.jpg" alt="">
        </div>

        <div class="location" id="d11">
            <img src="../../../../assets/outlets/deorali/images/img11.jpg" alt="">
        </div>
    </div>
</div>