<div class="center_heading">
  Samdong Woollen Center
</div>
<div class="tplace">
  <div class="samdong">
    <div class="centre" id="s1">
      <img src="../../../../assets/production/samdong/img1.jpg" alt="">
    </div>
    <div class="centre" id="s2">
      <img src="../../../../assets/production/samdong/img2.jpg" alt="">
    </div>
    <div class="centre" id="s3">
      <img src="../../../../assets/production/samdong/img3.jpg" alt="">
    </div>
    <div class="centre" id="s4">
      <img src="../../../../assets/production/samdong/img4.jpg" alt="">
    </div>
  </div>
</div>