<div class="gallery">
    <div class="ins">
        <div class="product" id="i1">
            <img src="../../../../assets/products/incense/images/img1.jpg" alt="">
            <h1 class="productHeading">Incense</h1>
        </div>

        <div class="product" id="i2">
            <img src="../../../../assets/products/incense/images/img2.jpg" alt="">
        </div>

        <div class="product" id="i3">
            <img src="../../../../assets/products/incense/images/img3.jpg" alt="">
        </div>

    </div>
</div>