<div class="outlets_l">
    <section class="outlet_address">
        <p>Address: </p>
        <p>Dr. Shanti Mishra Building, NH 10</p>
        <p>opposite PWD office, Singtam</p>
    </section>
    <div class="singtam">
        <div class="location" id="s1">
            <img src="../../../../assets/outlets/singtam/images/img1.jpg" alt="">
        </div>

        <div class="location" id="s2">
            <img src="../../../../assets/outlets/singtam/images/img2.jpg" alt="">
        </div>

        <div class="location" id="s3">
            <img src="../../../../assets/outlets/singtam/images/img3.jpg" alt="">
        </div>

        <div class="location" id="s4">
            <img src="../../../../assets/outlets/singtam/images/img4.jpg" alt="">
        </div>

        <div class="location" id="s5">
            <img src="../../../../assets/outlets/singtam/images/img5.jpg" alt="">
        </div>

        <div class="location" id="s6">
            <img src="../../../../assets/outlets/singtam/images/img6.jpg" alt="">
        </div>
    </div>
</div>