<div class="outlets_l">
    <section class="outlet_address">
        <p>Address: </p>
        <p>Khadi Emporium</p>
        <p>Bhanjyang road,</p>
        <p>Beside Smart City Office</p>
    </section>
    <div class="namchi">
        <div class="location" id="n1">
            <img src="../../../../assets/outlets/namchi/images/img1.jpg" alt="">
        </div>

        <div class="location" id="n2">
            <img src="../../../../assets/outlets/namchi/images/img2.jpg" alt="">
        </div>

        <div class="location" id="n3">
            <img src="../../../../assets/outlets/namchi/images/img3.jpg" alt="">
        </div>

        <div class="location" id="n4">
            <img src="../../../../assets/outlets/namchi/images/img4.jpg" alt="">
        </div>

        <div class="location" id="n5">
            <img src="../../../../assets/outlets/namchi/images/img5.jpg" alt="">
        </div>

        <div class="location" id="n6">
            <img src="../../../../assets/outlets/namchi/images/img6.jpg" alt="">
        </div>

        <div class="location" id="n7">
            <img src="../../../../assets/outlets/namchi/images/img7.jpg" alt="">
        </div>
    </div>
</div>