.header {
  background-color: #f2c377;
  height: 15rem;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 1rem 4rem;
  gap: 2rem;
}

.icon-khadiindia,
.icon-sikkim,
.sikkim-khadi-icon {
  display: block;
  margin: auto;
}

.icon-sikkim>img {
  width: 118px;
}

.sikkim-khadi-icon>img {
  width: 104px;
}

.icon-khadiindia>img {
  width: 152px;
}

.header-title {
  background-color: #f2c377;
  text-align: center;
  text-transform: uppercase;

  color: #70490b;
  padding: 0 0 1rem 0;
}

.header-title span {
  font-family: var(--font-heading);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  line-height: var(--lh-heading);
}

.navigation {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #f5d096;
}

.navigation a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #70490b;
  font-family: var(--font-subheading);
  font-size: var(--fs-body);
  font-weight: var(--fw-medium);
  text-transform: uppercase;
  transition: color 0.3s ease, background-color 0.5s ease;

  &:hover,
  &.active {
    color: white;
    background-color: #dc9016;
  }
}
