<div class="pageContainer">
    <div class="acontents">
    <section class="introduction">
     <h1 class="acontents__heading">Introduction</h1>
      <p class="introContent">
      Sikkim Khadi &amp; Village Industries Board (SKVIB) is an autonomous body of Government of
Sikkim under the Commerce &amp; Industries Department. While it was established in 1963, the
Sikkim Khadi &amp; Village Industries Board Act of 1996 covers its functions and objectives which
are as follows:
      </p>
      <ol>
        <li>Social objective of generating employment to the rural artisans in the field of khadi and village industries</li>
        <li>The economic objective of producing saleable Khadi &amp; village industries goods</li>
        <li>The wider objective of creating self reliance amongst the people and building up of a
strong rural community spirit</li>
        <li>Implementation of government schemes targeting rural employment generation</li>
        <li>Impart training and support in establishment of khadi institutions, societies and
village industries units.</li>
      </ol>
    </section>
    <section class="bdirectors">
     <h1 class="acontents__heading">Board Directors</h1>
     <p class="introContent">In exercise of the powers conferred by section 4 of the Sikkim Khadi and Village Industries Board Act 1996 and in supersession of Notification No. 108/Home/2014, the State Government hereby constitutes the Sikkim Khadi and Village Industries Board consisting of the following members namely:-</p>
     <h2 class="sub-heading">A&#41; Non Official Members: </h2>
     <ol>
      <li>Smt. Chung Chung Bhutia, Chairperson Sikkim Khadi and Village Industries Board.</li>
      <li>Dr. Kalpana Pradhan</li>
      <li>Smt. Diki Lhamu Lepcha</li>
      <li>Smt. Sonam Doma Lepcha</li>
      <li>Shri Yanten Dong</li>
     </ol>
     <h2 class="sub-heading">B&#41; Official Members: </h2>
     <ol>
      <li>Director, Commerce and Industries, Government of Sikkim</li>
      <li>Joint Secretary, Planning and Development Department, Government of Sikkim</li>
      <li>Joint Secretary, Finance Department, Government of Sikkim</li>
      <li>One representative from Khadi and Village Industries Commission, State Office, Gangtok</li>
      <li>Chief Executive Officer, Sikkim Khadi and Village Industries Board.</li>
     </ol>
    </section>
    <section class="bobjectives">
     <h1 class="acontents__heading">Board Objectives</h1> 
     <p class="introContent">Established in 1963, the Sikkim Khadi &amp; Village Industries Board Act of 1996 covers
its functions and objectives which are as follows:</p>
     <ol>
      <li>Social objective of generating employment to the rural artisans in the field of
khadi and village industries</li>
      <li>The economic objective of producing saleable Khadi &amp; village industries
goods</li>
      <li>The wider objective of creating self reliance amongst the people and building
up of a strong rural community spirit</li>
      <li>Implementation of government schemes targeting rural employment
generation</li>
      <li>Impart training and support in establishment of khadi institutions, societies
and village industries units.</li>
     </ol>
    </section>
    <section class="skvibact">
      <h1 class="acontents__heading">SKVIB ACT</h1> 
      <div>
        <div class="skvib__button">
          <a 
            href="../../../assets/pdf/SKVIB_ACT_1996.pdf" 
            target="_blank"
            aria-label="Download SKVIB Act 1996 PDF document"
            class="skvib__button-link"
          >
            Click here to open SKVIB pdf
          </a>
        </div>
      </div>
    </section>
    </div>
    <!-- contents ends -->
  </div>
 