<div class="gallery">
  <div class="saree">
    <div class="product" id="saree1">
      <img src="../../../../assets/products/saree/images/saree1.jpg" alt="">
      <h1 class="productHeading">Saree</h1>
    </div>
    <div class="product" id="saree2">
      <img src="../../../../assets/products/saree/images/saree2.jpg" alt="">
    </div>
    <div class="product" id="saree3">
      <img src="../../../../assets/products/saree/images/saree3.jpg" alt="">
    </div>
    <div class="product" id="saree4">
      <img src="../../../../assets/products/saree/images/saree4.jpg" alt="">
    </div>
    <div class="product" id="saree5">
      <img src="../../../../assets/products/saree/images/saree5.jpg" alt="">
    </div>
    <div class="product" id="saree6">
      <img src="../../../../assets/products/saree/images/saree6.jpg" alt="">
    </div>
    <div class="product" id="saree7">
      <img src="../../../../assets/products/saree/images/saree7.jpg" alt="">
    </div>
    <div class="product" id="saree8">
      <img src="../../../../assets/products/saree/images/saree8.jpg" alt="">
    </div>
    <div class="product" id="saree9">
      <img src="../../../../assets/products/saree/images/saree9.jpg" alt="">
    </div>
    <div class="product" id="saree10">
      <img src="../../../../assets/products/saree/images/saree10.jpg" alt="">
    </div>
    <div class="product" id="saree11">
      <img src="../../../../assets/products/saree/images/saree11.jpg" alt="">
    </div>
    <div class="product" id="saree12">
      <img src="../../../../assets/products/saree/images/saree12.jpg" alt="">
    </div>
  </div>
</div>
