<div class="center_heading">
    Raley Center
  </div>
  <div class="tplace" >
    <div class="tarku">
      <div class="centre" id="t1">
        <img src="../../../../assets/production/raley/pic.jpg" alt="">
      </div>
      <div class="centre" id="t2">
        <img src="../../../../assets/production/raley/pic3.jpg" alt="">
      </div>
      <div class="centre" id="t3">
        <img src="../../../../assets/production/raley/pic2.jpg" alt="">
      </div>
      <div class="centre" id="t4">
        <img src="../../../../assets/production/raley/pic1.jpg" alt="">
      </div>
      <div class="centre" id="t5">
        <img src="../../../../assets/production/raley/pic4.jpg" alt="">
      </div>
    </div>
  </div>